<!DOCTYPE html>
<html>
<head>
  <title>Competency test</title>
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
</head>
<body>
  
  {% section 'products-list-section' %}

</body>
</html>
