<!DOCTYPE html>
<html>
<head>
  <title>Competency test</title>
  <link rel="stylesheet" href="{{ 'Product.css' | asset_url }}">
</head>
<body>
  <h2 class="section-title">Our Collections</h2>
  {% section 'products-list-section' %}

</body>
</html>
